baseURL = 'https://nclbiagio.github.io/ncl-blog/'
languageCode = 'it'
title = 'Ncl Dev Blog'
theme = 'ananke'
[caches]
  [caches.images]
    dir = ':cacheDir/images'
[params]
  author = "Ncl"
  description = "Un diario di idee, codice e pensieri."
[menu]
  [[menu.main]]
    identifier = "home"
    name = "Home"
    url = "/"
    weight = 1
  [[menu.main]]
    identifier = "blog"
    name = "Blog"
    url = "/posts/"
    weight = 2